@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-white-100;
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serif mb-5 text-gray-900;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h1~p,
h2~p,
h3~p,
h4~p,
h5~p,
h6~p,
ul,
ol {
    @apply mb-5;
}

a,
.link {
    @apply text-skin-dark-200;
}

a:hover,
a:focus,
.link:hover {
    @apply text-skin-dark-400;
}

a:focus,
.link:focus {
    @apply outline-none shadow-outline;
}

ul {
    @apply list-inside list-disc;
}

ul > li, ol > li {
    @apply mb-2;
}

ol {
    @apply list-inside list-decimal;
}
*/

a,
.link {
    @apply text-skin-dark-200;
}

a:hover,
a:focus,
.link:hover {
    @apply text-skin-dark-400;
}

a:focus,
.link:focus {
    @apply outline-none shadow-outline;
}

.btn-link {
    @apply text-skin-dark-200 p-2 border border-skin-dark-200 rounded-md;
}

.btn-link.btn-light {
    @apply text-skin-fair-100 border-skin-fair-100 bg-skin-fair-100;
}

.btn-link:hover {
    @apply border-skin-dark-400;
}

.nav-item {
    @apply inline-block px-3 py-4 tracking-wide no-underline text-center text-skin-dark-400 uppercase text-sm border-b-2 border-transparent;
}

.nav-item:hover {
    @apply bg-skin-fair-100 text-white;
}

.nav-item:focus {
    @apply outline-none shadow-outline;
}

.nav-item--active {
    @apply font-extrabold border-b-2 border-skin-dark-200;
}

.subnav {
    @apply absolute z-10 w-1/2 pt-2;
}

.subnav__arrow {
    @apply absolute top-0 w-4 h-4 origin-center transform rotate-45 translate-x-8 -translate-y-2 bg-white border-t border-l border-gray-200 rounded-sm pointer-events-none;
}

.subnav__container {
    @apply relative p-5 bg-white flex flex-row border border-gray-200 rounded-md shadow-lg;
}

.subnav__title {
    @apply text-sm text-skin-dark-200 uppercase mb-3;
}

.subnav__items-container {
    @apply text-sm flex flex-col;
}

.subnav__item {
    @apply text-gray-800 pb-2;
}

.mobile-menu {}

.mobile-menu .nav-item {
    @apply block text-left text-skin-dark-200 border-b border-skin-dark-200;
}

.mobile-menu .nav-item .subnav__item {
    @apply normal-case;
}

.mobile-menu .nav-item--active {
    @apply bg-skin-fair-100 text-white;
}

.mobile-menu .subnav__title {
    @apply text-skin-dark-100;
}

.hero-section {}

.row-section {
    min-height: 600px;
}

/* slider */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-arrow {
    @apply absolute top-0 mt-40 bg-white rounded-full shadow-md h-12 w-12 text-2xl;
    z-index: 1;
}

.slick-arrow-left {
    left: 0;
    @apply -ml-6;
}

.slick-arrow-right {
    right: 0;
    @apply -mr-6;
}

.slick-dots {
    bottom: 30px;
}

article {
    @apply pt-8 px-12;
}

dt {
    @apply text-skin-dark-300 font-bold text-lg mb-3;
}

dd {
    @apply mb-3;
}

/* Bloques de contenido */

.nuestra-historia .prose img {
    margin-top: 0;
    margin-bottom: 0;
}

.texto-imagen img {
    @apply mt-0;
}

/* Tabla de contenidos */
.tabla-conetnidos ul li.heading2 {
    @apply font-semibold text-sm;
}

.tabla-conetnidos ul li.heading3 {
    @apply ml-3 font-light text-xs;
}

.tabla-conetnidos ul li.heading4 {
    @apply ml-6 font-light text-xs;
}

.tabla-conetnidos ul li.heading5 {
    @apply ml-8 font-light text-xs;
}

.tabla-conetnidos ul li.heading6 {
    @apply ml-10 font-light text-xs;
}